.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffa50042;
    width: 350px;
    padding: 20px;
    gap: 5px;
    border-radius: 5px;

    h1 {
        color: white;
        text-align: center;
    }

    .control, .button {
        border: none;
        padding: 10px;
        border: 1px solid orange;
        border-radius: 5px;
    }

    .button {
        background-color: orange;
        color: white;
        font-size: medium;
        cursor: pointer;
    }
}